<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Sphere</title>
  <link rel="icon" href="icons/clouds-and-sun.png">
  <link rel="stylesheet" href="styles/index.css">
</head>
<body>
  <header>
    <ul>
      <li>Home</li>
      <li>Weather</li>
      <li>About</li>
    </ul>
  </header>